#preview {
    max-width: 100vw;
    max-height: 100vh;
}

body {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
    user-select: none;
}

#controlpanel {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
}

#preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-drag: none;
}